<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>book list</title>
	<link rel="stylesheet" href="/navigation_styles.css">
</head>
<body>
    <div class="topnav">
        <a href="/home">Books list</a>
        <a class="active" href="/home/book_view">Book view</a>
        <a href="/logout">Logout</a>
    </div>
    
</body>